<div class="stepper-container">
  <mat-stepper linear #stepper>
    <mat-step label="Database" state="database" [completed]="status?.isReady">
      <ng-template matStepperIcon="database">
        <mat-icon>database</mat-icon>
      </ng-template>
      <form [formGroup]="dbFormGroup">
        <ng-template matStepLabel>Connect Database</ng-template>
        <mat-form-field>
          <mat-label>MongoDB URI</mat-label>
          <input matInput placeholder="mongodb://localhost:27017/copilot" formControlName="uri" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext (click)="dbConnect()" [disabled]="dbFormGroup.invalid || isDbConnecting">
            <mat-icon>navigate_next</mat-icon>
            Next
          </button>
          @if (isDbConnecting) {
          <mat-progress-spinner mode="indeterminate" diameter="20"></mat-progress-spinner>
          }
        </div>
      </form>
    </mat-step>

    <mat-step label="GitHub App" state="github" [completed]="status?.installations?.length">
      <ng-template matStepperIcon="github">
        <mat-icon>settings_applications</mat-icon>
      </ng-template>
      <ng-template matStepLabel>GitHub App</ng-template>
      <app-install></app-install>
    </mat-step>

    <mat-step label="Complete" state="done">
      <ng-template matStepperIcon="done">
        <mat-icon>done</mat-icon>
      </ng-template>
      <ng-template matStepLabel>Complete</ng-template>
      <p>You have completed all the setup steps!</p>
    </mat-step>
  </mat-stepper>
</div>